@import url(http://fonts.googleapis.com/css?family=Fascinate);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);

#title{ /*page header*/
    font-family: 'Fascinate', cursive;
    margin-left: 20px;
}

#numSelect{ /*form*/
    position:absolute;
    left: 20px;
    padding: 15px;
    color: white;
    font-size: 10pt;
    background-color: black;
    border-radius: 1.6em;
    box-shadow: 2px 2px 2px #92E0B3;
}

#snd{ /*submit button*/
    position:absolute;
    top: 30px;
    left:280px;
    font-size: 12pt;
    text-decoration: none;
    padding: 7px;
    color: white;
    background-color: black;
    border-radius: 0.4em;
    box-shadow: 2px 2px 2px #92E0B3;
}

#visOut{
    position:absolute;
    top: 100px;
    left: 480px;
}

#svgOut{
    padding: 30px;
}
