@import url(http://fonts.googleapis.com/css?family=Fascinate);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);

#title{
    font-family: 'Fascinate', cursive;
}

body{
    background-color: transparent;
}


#numSelect{
    position:absolute;
    left: 20px;
    padding: 15px;
    color: white;
    font-size: 10pt;
    background-color: black;
    border-radius: 1.6em;
    box-shadow: 2px 2px 2px #92E0B3;
}

#snd{
    position:absolute;
    top: 30px;
    left:280px;
    font-size: 12pt;
    text-decoration: none;
    padding: 7px;
    color: white;
    background-color: black;
    border-radius: 0.4em;
    box-shadow: 2px 2px 2px #92E0B3;
}

#el{
    position:absolute;
    top:200;
}

div.bar{
    display: inline-block;
    width: 20px;
    height: 75px;
    margin-right: 2px;
    background-color: teal;
}

#dOut{
    position: absolute;
    top: 100;
    left:500;
}

circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
